.footer {
  padding: 26.5px 0;
  color: #fff;
  background: #0D1D54;
  // .footer__container
  &__container {
    display: flex;
    align-items: center; 
  }
  // .footer__row
  &__row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.footer__menu a {
  color: #fff;
}
.footer__phone {
  color: #fff;
  margin-right: 45px;
}
.footer__mail {
  color: #fff;
}

.footer__social-icon {
  background: #fff;
}

.footer__contacts {
  align-items: center;
}