//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px;  
	}
}

@media (max-width: 1024px) { 
	.menu-list a {
		padding: 5px 25px 5px 0;}
	.header__social {
		margin-right: 10px;}
}

@media (max-width: 860px) { 
	.logo-icon {
    flex: 0 0 150px;
    height: 115px;}
}

@media (max-width: 812px) { 
	.header__contacts {
    flex: 0 0 190px;}
}


@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.header__logo {
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;}
	.logo-icon {
		flex: 0 0 45px;
    height: 40px;
		box-shadow: none;}
	.logo-icon:before {
		flex: 0 1 100%;
		height: 100%;}
	.header__mail {
		display: none;}
	.icon-menu {
		display: flex;}
	.header__menu-block {
		margin-right: 15px;}
	.header__menu-list {
		display: none;}
	.header__search form {
		max-height: 30px;}
	.header__contacts {
		flex: 0 0 135px;
    margin-right: 15px;}
	.header__phone {
		margin-top: 3px;}
	.header__phone:before {
		display: none;}
	.header__time-phone {
		display: none;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	.social-block-icon {
		width: 36px;
		height: 36px;}
	.social-block-icon:before {
		background-size: 90%;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	::-webkit-scrollbar {
    display: none;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
}

@media (max-width: 515px) {
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.header__mob-search-btn {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
}

@media (max-width: 375px) {
.header__contacts {
	display: none;}
.header__mob-phone-icon {
	display: flex;
	margin-left: 5px;
	margin-right: 15px;}
}