//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px;  
	}
}

@media (max-width: 1150px) {
	.competitions__card-descp-flex-btn {
		padding: 15px 15px;}
}

@media (max-width: 1050px) {
	.competitions__row {
		margin: 0 -10px;}
	.competitions__column {
		padding: 0 10px;}
	.competitions__card-descp-flex-btn {
		padding: 15px 10px;}
	.competitions__card-descp {
		padding: 23px 10px 21px 10px;}
}

@media (max-width: 1024px) { 
	.menu-list a {
		padding: 5px 25px 5px 0;}
	.header__social {
		margin-right: 10px;}
	.banner {
		height: 500px;}
}

@media (max-width: 860px) { 
	.logo-icon {
    flex: 0 0 150px;
    height: 115px;}
	.competitions__column {
		flex: 0 1 100%;}
}

@media (max-width: 812px) { 
	.header__contacts {
    flex: 0 0 190px;}
}


@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.header__logo {
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;}
	.logo-icon {
		flex: 0 0 45px;
    height: 40px;
		box-shadow: none;}
	.logo-icon:before {
		flex: 0 1 100%;
		height: 100%;}
	.header__mail {
		display: none;}
	.icon-menu {
		display: flex;}
	.header__menu-list {
		display: none;}
	.header__search form {
		max-height: 30px;}
	.header__contacts {
		flex: 0 0 135px;
    margin-right: 15px;}
	.header__phone {
		margin-top: 3px;}
	.header__phone:before {
		display: none;}
	.header__time-phone {
		display: none;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	.social-block-icon {
		width: 36px;
		height: 36px;}
	.social-block-icon:before {
		background-size: 90%;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	::-webkit-scrollbar {
    display: none;}
	.footer {
		padding: 15px 0;}
	.footer__social-block {
		flex: 0 1 100%;}
	.footer__menu {
		margin-bottom: 10px;}
	.footer__contacts {
		margin-bottom: 10px;}
	.banner {
		height: 400px;}
	.banner__flex-date {
		padding: 15px 35px;}
	.banner__flex-date-number {
		font-size: 50px;
		line-height: 55px;}
	.banner__flex-date-month {
		font-size: 20px;
		line-height: 23px;}
	.banner__flex-date-line {
		margin: 5px 0 5px 0;}
	.banner ._container {
		align-items: center;}
	.banner__flex-date:before {
		top: -3px;
		left: 2%;
		width: 175px;}
	.about__title {
		margin-bottom: 10px;}
	.about__descp p {
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 15px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	.banner__flex-date {
		flex: 0 0 200px;}
	.banner__flex-descp-btn {
		flex-wrap: wrap;}
	.banner__flex-descp-btn a {
		margin-bottom: 10px;}
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
	.footer__menu li {
		flex: 0 1 100%;}
	.footer__contacts {
		flex-wrap: wrap;}
	.footer__phone {
		flex: 0 1 100%;
		margin-right: 0;
		margin-bottom: 5px;}
	.footer__mail:before,
	.footer__phone:before {
		display: none;}
}

@media (max-width: 515px) {
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
	.banner__flex {
		flex-wrap: wrap;}
	.banner__title {
		margin-bottom: 15px;}
	.banner {
		height: auto;
		padding: 80px 0 45px 0 !important;}
	.banner__flex-descp {
		margin-bottom: 15px;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;}
	.header__mob-search-btn {
    display: flex;}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;}
	.search__input {
    border-radius: 0 !important;}
	.competitions__card-descp-flex {
		flex-wrap: wrap;}
	.competitions__card-descp-flex-btn {
		margin-top: 10px;}
}

@media (max-width: 414px) {
	.banner__flex-descp-btn a {
		width: 100%;
		margin-right: 0;}
	.banner__flex-date {
		padding: 35px;
		flex: 0 1 100%;}
	.banner__flex-date-number {
		font-size: 65px;
		line-height: 65px;}
	.banner__flex-date-month {
		font-size: 28px;
		line-height: 25px;}
	.banner__flex-date-line {
		margin: 10px 0;}
	.competitions__card-descp-flex-btn {
		width: 100%;}
}

@media (max-width: 375px) {
.header__contacts {
	display: none;}
.header__mob-phone-icon {
	display: flex;
	margin-left: 5px;
	margin-right: 15px;}
}